<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col m10 offset-m2 s12">
                <div class="col l6 s6">
                    <h5 class="white-text">Authors</h5>
                    <ul>
                        <li><a href="https://github.com/sjconst" target="_blank">Stephanie Lake</a></li>
                        <li><a href="https://github.com/digipet007" target="_blank">Sarah Arnold</a></li>
                        <li><a href="https://github.com/redricasa" target="_blank">Frederica Blissett</a></li>
                        <li><a href="https://github.com/gerarjon" target="_blank">Gerar Suaverdez</a></li>
                    </ul>
                </div>
                <div class="col l4 s6">
                    <h5 class="white-text">Links</h5>
                    <p><a target="_blank" href="https://www.crystalknows.com/personality-test">Crystal</a></p>
                    <a href="https://github.com/sjconst/mvc-group-project" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col m10 offset-m2">
                        © 2019
                </div>
            </div>
        </div>
    </div>
</footer>
