<!-- Group Name drop down -->
<!-- NEEDS to autopopulate with all unique group names in DB -->
<div class="row">
    <form action="GET">          
    <div class="input-field col s12 m3">
        <select id="group-select">    
        </select>
        <label>Group Name</label>
    </div>
    </form>
</div>