<header>
  <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Personality</a>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/Profiles">Group Results</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="personality-dropdown">Personality Tests<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
  </div>
</header>
<ul class="sidenav" id="nav-mobile">
  <li><a href="#!"><i class="material-icons tiny">send</i>Profiles</a></li>
  <li><a target="_blank" href="https://www.crystalknows.com/personality-test"><i class="material-icons tiny">send</i>Take the Personality Test</a></li>
</ul>
<!-- Personality Drop Down -->
<ul id="personality-dropdown" class="dropdown-content">
  <li><a href="/DISC">DISC</a></li>
  <li><a href="/ennegram">Ennegram</a></li>
  <li><a href="/myersbriggs">Myers & Briggs</a></li>
</ul>