
<h2>DISC</h2> 
<h4>DISC stands for: </h4>
<h5>
    <ul>
        <li>Dominance: Person places emphasis on accomplishing results, the bottom line, confidence </li>
        <li>Influence: Person places emphasis on influencing or persuading others, openness, relationships</li>
        <li>Steadiness: Person places emphasis on cooperation, sincerity, dependability</li> 
        <li>Conscientiousness: Person places emphasis on quality and accuracy, expertise, competency</li>
    </ul>
</h5>
<h5>To learn more about DISC, click <a href="https://www.discprofile.com/what-is-disc/overview/" style="color:blue">here</a>. 
</h5>
