<div class="container">
    <div class="row">
        <h2>DISC</h2> 
        <h4>DISC is a behaviour assessment tool revolving around four personality types of Dominance, Influence, Steadiness, and Conscientiousness. </h4>
        <h5>
            <img class="materialboxed responsive-img" src="/images/disc_type.png">
            <ol>
                <div class="section">
                    <li><b>Dominance</b>: Person places emphasis on accomplishing results, the bottom line, confidence.</li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li><b>Influence</b>: Person places emphasis on influencing or persuading others, openness, relationships.</li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li><b>Steadiness</b>: Person places emphasis on cooperation, sincerity, dependability.</li> 
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li><b>Conscientiousness</b>: Person places emphasis on quality and accuracy, expertise, competency.</li>
                </div>
            </ol>
        </h5>
        <h5>To learn more about DISC, click <a href="https://www.discprofile.com/what-is-disc/overview/" style="color: green
        ">here</a>. 
        </h5>
    </div>
</div>
