<div class="container">
    <div class="row">
        <h2>Ennegram</h2> 
        <h4>There's 9 different personality types, all conceptualized along a circle where one type is connected to at least 2 other types:</h4>
        <h5>
            <img class="materialboxed responsive-img" src="/images/ennegram.png">
            <ol>
                <div class="section">
                    <li>The <b>Reformer</b> is principled, purposeful, self-controlled, and perfectionistic.</li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li>The <b>Helper</b> is generous, demonstrative, people-pleasing, and possessive.</li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li>The <b>Achiever</b> is adaptable, excelling, driven, and image-conscious.</li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li>The <b>Individualist</b> is expressive, dramatic, self-absorbed, and temperamental.</li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li>The <b>Loyalist</b> is perceptive, innovative, secretive, and isolated.</li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li>The <b>Investigator</b> is engaging, responsible, anxious, and suspicious.</li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li>The <b>Enthusiast</b> is spontaneous, versatile, acquisitive, and scattered.</li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li>The <b>Challenger</b> is self-confident, decisive, willful, and confrontational.</li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li>The <b>Peacemaker</b> is receptive, reassuring, complacent, and resigned.</li>
                </div>
            </ol>
        </h5>
        
        <h5>To learn more about Ennegram, click <a href="https://www.enneagraminstitute.com/how-the-enneagram-system-works" style="color:green">here</a>. 
    </div>
</div>
