<div class="container">
    <div class="row">
        <h2>Ennegram</h2> 
        <h4>There's 9 different personality types, all conceptualized along a circle where one type is connected to at least 2 other types:</h4>
        <h5>
            <img class="materialboxed" width="650" src="/images/ennegram.png">
            <ol>
                <div class="section">
                    <li>The Reformer is principled, purposeful, self-controlled, and perfectionistic.</li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li>The Helper is generous, demonstrative, people-pleasing, and possessive.</li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li>The Achiever is adaptable, excelling, driven, and image-conscious.</li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li>The Individualist is expressive, dramatic, self-absorbed, and temperamental.</li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li>The Loyalist is perceptive, innovative, secretive, and isolated.</li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li>The Investigator is engaging, responsible, anxious, and suspicious.</li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li>The Enthusiast is spontaneous, versatile, acquisitive, and scattered.</li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li>The Challenger is self-confident, decisive, willful, and confrontational.</li>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <li>The Peacemaker is receptive, reassuring, complacent, and resigned.</li>
                </div>
            </ol>
        </h5>
        
        <h5>To learn more about Ennegram, click <a href="https://www.enneagraminstitute.com/how-the-enneagram-system-works" style="color:green">here</a>. 
    </div>
</div>
