

<h2>Ennegram</h2> 
<p>There's 9 different personality types :</p>
    <ul>
        <li>The Reformer</li>
        <li>The Helper</li>
        <li>The Achiever</li>
        <li>The Individualist</li>
        <li>The Loyalist</li>
        <li>The Investigator</li>
        <li>The Enthusiast</li>
        <li>The Challenger</li>
        <li>The Peacemaker</li>
    </ul>

<h5>To learn more about Ennegram, click <a href="https://www.enneagraminstitute.com/how-the-enneagram-system-works">here</a>. 
