<div class="container">
    <div class="row">
        <h2>Ennegram</h2> 
        <h4>There's 9 different personality types :</h4>
        <h5>
            <ol>
                <li>The Reformer</li>
                <li>The Helper</li>
                <li>The Achiever</li>
                <li>The Individualist</li>
                <li>The Loyalist</li>
                <li>The Investigator</li>
                <li>The Enthusiast</li>
                <li>The Challenger</li>
                <li>The Peacemaker</li>
            </ol>
        </h5>
        <h5>To learn more about Ennegram, click <a href="https://www.enneagraminstitute.com/how-the-enneagram-system-works" style="color:green">here</a>. 
    </div>
</div>
