<div id="home">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="row">
          <h1 class="center-align">{{msg}}</h1>
          <form class="clearfix rform" id="rform" action="POST">
            <div class="input-field form-group col s4 validate">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control" aria-describedby="name" placeholder="John Smith" data-parsley-length="[2, 20]" required="true" data-parsley-group="block1">
            </div>
            <div class="input-field form-group col s4 validate">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="name@sample.com" data-parsley-trigger="change" required="true" data-parsley-group="block1">
            </div>
            <div class="col s4">
              <a alt="Take Personality Test" target="_blank" href="https://app.crystalknows.com/personality-test?api_customer_id=25d0c957-4006-4970-b5ab-460b29d29ef6&api_company_name=Student&api_user_email=[USER_EMAIL_HERE]"><img class="survey-button-2 validate sbmt" type="submit" value="submit" id="test-btn" src=https://cdn2.hubspot.net/hubfs/1716276/API/take_personality_test.png /></a>
            </div>
          </form>
        </div>
        <!-- Personality Type drop down -->
        <div class="row">
          <form action="GET">
            <!-- Energy -->
            <div class="input-field col s12 m3">
              <select id="energy-select">
                <option value="" disabled selected>Choose an option</option>
                <option value="1">Introvert</option>
                <option value="2">Extrovert</option>
              </select>
              <label>Energy</label>
            </div>
            <!-- Information -->
            <div class="input-field col s12 m3">
              <select id="information-select">
                <option value="" disabled selected>Choose an option</option>
                <option value="3">Thinking</option>
                <option value="4">Feeling</option>
              </select>
              <label>Information</label>
            </div>
            <!-- Decisions -->
            <div class="input-field col s12 m3">
              <select id="decisions-select">
                <option value="" disabled selected>Choose an option</option>
                <option value="5">Intuition</option>
                <option value="6">Sensing</option>
              </select>
              <label>Decisions</label>
            </div>
            <!-- Organization -->
            <div class="input-field col s12 m3">
              <select id="organization-select">
                <option value="" disabled selected>Choose an option</option>
                <option value="7">Judging</option>
                <option value="8">Perceiving</option>
              </select>
              <label>Organization</label>
            </div>
            <div class="center">
              <button id="submit" class="btn display-results-submit">Display Results</button>
            </div>
          </form>
        </div>
        <div class="divider"></div>
        <div class="row">
          <h4>Profiles</h4>
          <ul id="example-list" class="list-group">
            {{#each examples}}
            <li data-id="{{this.id}}" class="list-group-item">
              <a href="example/{{this.id}}">{{this.text}}</a>
              <button class="btn right result">Result</button>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
