<div id="home">
  <div class="container">
      <div class="section">
          <div class="row">
              <div class="col s12">
                  <div class="row">
                      <br><br>
                      <h2 class="center-align">{{msg}}</h2>
                      <h5 class="center-align">Take one or several personality tests and save it to a group. Share the app with your students or friends to see how compatible your school is!</h5>
                      <form class="clearfix rform" id="surveyForm">
                        <div class="container">
                          <div class="input-field form-group col s12 m6 validate">
                            <label for="name">First Name</label>
                            <input type="text" id="name" class="form-control" aria-describedby="name" data-parsley-length="[2, 20]" placeholder="John" required="true" data-parsley-group="block1">
                          </div>
                          <div class="input-field form-group col s12 m6 validate">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="name@sample.com" data-parsley-trigger="change" required="true" data-parsley-group="block1">
                          </div>
                          {{> group-dropdown}}
                          <h5 class="center-align">Don't see your group? Create one below! </h5>
                          <div class="input-field form-group col s12 validate">
                            <label for="group">Create a new Group</label>
                            <input type="text" class="form-control" id="group" aria-describedby="group" placeholder="Ms. Jane's Class">
                          </div>     
                        </div>    
                        <div class="col s12 center">
                          <img class="survey-button-2" src="https://cdn2.hubspot.net/hubfs/1716276/API/take_personality_test.png"/>
                        </div>
                      </form>
                      <br><br>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!--  Icon Section  -->
<div id="icon-section">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Three Personality Test Options</h5>
            <ul class="browser-default light">
              <li>DISC: a more flexible, adaptive assessment and tools to understand and communicate more effectively </li>
              <li>Myers-Briggs: the classic introspective self-report questionnaire indicating differing psychological preferences</li>
              <li>Enneagram: focuses on deeply-rooted motivations, rather than grouping people by actions. </li>
            </ul>            
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">group</i></h2>
            <h5 class="center">How it Works</h5>
            <p class="light">Crystal Knows offers free personality tests to help you discover how to communicate more effectively. Simply fill in the information above and follow the instructions on the page that opens to register and take tests. Results are automatically pulled into this app when you select your group in "get my group's info" tab above.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">settings</i></h2>
            <h5 class="center">View Your Group's Info</h5>
            <p class="light">Click on the "Get my group's info" tab in the navigation bar to find profiles of users in your group.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Carousel -->
<div class="container">
  <div class="section">
    <div class="row">
      <div class="carousel carousel-slider center">
        <div class="carousel-fixed-item center">
          <a class="btn waves-effect white grey-text darken-text-2" href="#!">View Profiles</a>
        </div>
        <div class="carousel-item red white-text">
          <h2>First Panel</h2>
        </div>
        <div class="carousel-item amber white-text">
          <h2>Second Panel</h2>
        </div>
        <div class="carousel-item green white-text">
          <h2>Third Panel</h2>
        </div>
        <div class="carousel-item blue white-text">
          <h2>Fourth Panel</h2>
        </div>
      </div>
    </div>
  </div>
</div>
