<div id="home">
  <div class="container">
      <div class="section">
          <div class="row">
              <div class="col s12">
                  <div class="row">
                      <br><br>
                      <h2 class="center-align">{{msg}}</h2>
                      <form class="clearfix rform" id="rForm surveyForm">

                        <div class="container">
                          <div class="input-field form-group col s12 m6 validate">
                            <label for="name">First Name</label>
                            <input type="text" id="name" class="form-control" aria-describedby="name" data-parsley-length="[2, 20]" placeholder="John" required="true" data-parsley-group="block1">
                          </div>

                          <div class="input-field form-group col s12 m6 validate">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="name@sample.com" data-parsley-trigger="change" required="true" data-parsley-group="block1">
                          </div>

                          <div class="input-field form-group col s12 validate">
                            <label for="group">Create a Group Name</label>
                            <input type="text" class="form-control" id="group" aria-describedby="group" placeholder="Ms. Jane's Class">
                          </div>

                          <h5 class="center-align">Or</h5>

                          {{> group-dropdown}}

                        </div>
                       
                        
                        <div class="col s12 center">
                          <img class="survey-button-2" src="https://cdn2.hubspot.net/hubfs/1716276/API/take_personality_test.png"/>
                        </div>
                      </form>
                      <br><br>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!--  Icon Section  -->
<div id="icon-section">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Based on Meyers-Briggs</h5>

            <p class="light">The Myers–Briggs Type Indicator is an introspective self-report questionnaire indicating differing psychological preferences in how people perceive the world and make decisions.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">group</i></h2>
            <h5 class="center">Free to Use</h5>

            <p class="light">Crystal offers a free personality test to help you discover how to communicate more effectively. The only thing we need from you is to enter your name and email.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">settings</i></h2>
            <h5 class="center">View Other Profiles</h5>

            <p class="light">Clicking on the "Profiles" tab in the navigation bar will allow you to find profiles of all users that have taken the Crystal Personality test through this website.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
