<div class="container">
    <div class="row">
        <h2>Myers & Briggs</h2>
        <h4>The Myers & Briggs assessment is the most popular personality test in 
        the world. Here are all 16 types made up of combining 8 different personalities. </h4>
        <h5> 
            <img class="materialboxed responsive-img" src="/images/mbi.jpg">
            <ol>
                <div class="section">
                <li>ISTJ stands for <b> Introversion + Sensing + Thinking + Judging</b></li></div>
                <div class="divider"></div>
                <div class="section"> 
                <li>ISTP stands for <b> Introversion + Sensing + Thinking + Perceiving</b></li></div>
                <div class="divider"></div>
                <div class="section"> 
                <li>ESTP stands for <b> Extraversion + Sensing + Thinking + Perceiving</b></li></div>
                <div class="divider"></div>
                <div class="section"> 
                <li>ESTJ stands for <b> Extraversion + Sensing + Thinking + Judging</b></li></div>
                <div class="divider"></div>
                <div class="section"> 
                <li>ISFJ stands for <b> Introversion + Sensing + Feeling + Judging</b></li></div>
                <div class="divider"></div>
                <div class="section"> 
                <li>ISFP stands for <b> Introversion + Sensing + Feeling + Perceiving</b></li></div>
                <div class="divider"></div>
                <div class="section"> 
                <li>ESFP stands for <b> Extraversion + Sensing + Feeling + Perceiving</b></li></div>
                <div class="divider"></div>
                <div class="section"> 
                <li>ESFJ stands for <b> Extraversion + Sensing + Feeling + Judging</b></li></div>
                <div class="divider"></div>
                <div class="section"> 
                <li>INFJ stands for <b> Introversion + Sensing + Feeling + Judging</b></li></div>
                <div class="divider"></div>
                <div class="section"> 
                <li>INFP stands for <b> Introversion + Intuition + Feeling + Perceiving</b></li></div>
                <div class="divider"></div>
                <div class="section"> 
                <li>ENFP stands for <b> Extraversion + Intuition + Feeling + Perceiving</b></li></div>
                <div class="divider"></div>
                <div class="section"> 
                <li>ENFJ stands for <b> Extraversion + Intuition + Feeling + Judging</b></li></div>
                <div class="divider"></div>
                <div class="section"> 
                <li>INTJ stands for <b> Introversion + Intuition + Thinking + Judging</b></li></div>
                <div class="divider"></div>
                <div class="section"> 
                <li>INTP stands for <b> Introversion + Intuition + Thinking + Perceiving</b></li></div>
                <div class="divider"></div>
                <div class="section"> 
                <li>ENTP stands for <b> Extraversion + Intuition + Thinking + Perceiving</b></li></div>
                <div class="divider"></div>
                <div class="section"> 
                <li>ENTJ stands for <b> Extraversion + Intuition + Thinking + Judging</b></li></div>
            </ol>
        </h5>
        <h5>To learn more about Myers & Briggs, click <a href="https://www.myersbriggs.org/my-mbti-personality-type/mbti-basics/" style="color:green">here</a>.
    </div>
</div>

