<div class="container">
    <div class="row">
        <h2>Myers & Briggs</h2>
        <h4>The Myers & Briggs assessment is the most popular personality test in 
        the world. Here are all 16 types of personalities all combined. </h4>
        <h5> 
            <ol>
                <li>ISTJ</li>
                <li>ISTP</li>
                <li>ESTP</li>
                <li>ESTJ</li>
                <li>ISFJ</li>
                <li>ISFP</li>
                <li>ESFP</li>
                <li>ESFJ</li>
                <li>INFJ</li>
                <li>INFP</li>
                <li>ENFP</li>
                <li>ENFJ</li>
                <li>INTJ</li>
                <li>INTP</li>
                <li>ENTP</li>
                <li>ENTJ</li>
            </ol>
        </h5>
        <h5>To learn more about Myers & Briggs, click <a href="https://www.myersbriggs.org/my-mbti-personality-type/mbti-basics/" style="color:green">here</a>.
    </div>
</div>

