/* Global */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #eeeeee;
}

h2 {
  color: #769fb6;
}

main {
  flex: 1 0 auto;
}

.site-logo-name {
  width: 15rem;
}
#icon-section {
  background: #769fb6;
}

/* Links */
a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}
.gerar-face {
  margin-right: 10px;
  transform: translateY(5px);
  width: 25px;
}

/* Navbar */
nav, .page-footer {
  background: #188fa7;
}
nav {
  padding-top: 10px;
  height: 80px;
}
.nav-list li a{
  font-size: 1.2rem;
}
.list-group-item {
  line-height: 2.5;
}
.dropdown-trigger:focus {
  outline: 0;
}

/* input field */
label {
  font-size: 1rem!important;
}
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label {
    color: #000!important;
}
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}
input[type="text"]::placeholder, input[type="email"]::placeholder { 
    color: rgb(116, 116, 116);
} 
  
/* Survey Button */
.survey-button {
  width: 200px;
  transform: translateY(12px);
}
.survey-button-2 {
  width: 300px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.survey-button-2:hover {
  -webkit-filter: brightness(160%);
  filter: brightness(160%);
}

/* View Group Button */
.view-group-button {
  padding-top: 7px;
  height: 50px;
  width: 300px;
  font-size: 23px;
  border-radius: 30px;
  text-transform: none;
}

/* Carousel */
.indicator-item {
  color: #ccc;
}
.carousel-item {
  background: #ffffff;
}
.carousel-fixed-item {
  transform: translateY(10px);
}

/* Parsley CSS */
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #B94A48;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
  